.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    min-height: 100%;
}

.icon {
    max-width: 64px;
}

.text {
    font-weight: 400;
    font-size: 22px;
    line-height: 140%;
    color: #808080;
}